h3.correctas {
    color: green;
    text-align: center;
}

h3.falladas {
    color: red;
    text-align: center;
}

div.contenedor {
    float: right;
    width: 70%;
    margin: 0 auto;
}

div.contenedor a img{
    width: 30%;
    display: inline-block;
    padding: 5px;
}